.header{
    font-size: 100px;
    text-align: center;
    color: black;
    background-color: antiquewhite;
    position: relative;
    bottom:100px
}
.subheader{
    font-size: 50px;
    text-align: center;
    color:black;
    background-color: antiquewhite;
    position: relative;
    bottom:200px
}
.michael{
    float: right;
    position: relative;
    bottom: 250px
}
.Why{
    font-size: 35px;
    color: black;
    background-color: orange;
    float: left;
    position: relative;
    bottom: 250px
}
.information{
    font-size: 20px;
    color: black
}