.header{
    font-size: 100px;
    text-align: center;
    color: black;
    background-color: antiquewhite;
    margin-top: 10px;
    margin-bottom: 10px;
}
.subheader{
    font-size: 50px;
    text-align: center;
    color:black;
    background-color: antiquewhite;
    margin:0px;
}
.Why{
    font-size: 35px;

}

nav {
    display: flex;
    padding: 20px;
    list-style: none;
    margin-left: 170px;
    margin-right: 170px;
    justify-content: space-evenly;
    background-color: rgb(182, 234, 255);
    border: 4px solid #00aaff;
    font-size: 25px;

}

a:visited{
    color:#00aaff
}

.meet{
    font-size: 35px;
    color: black;
    background-color: rgb(255, 255, 255);
}
body{
    background-image: url("Oldtimeymichael.png")
}

.flexy{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    align-items: flex-start;
    padding: 0px;
    margin:0px;
}
.meet{
    min-width: 300px
}