.uppah{
    font-size: 100px;
    text-align: center;
    background-color: rgb(247, 180, 125);
    color: rgb(0, 0, 0);
    position: relative;
    bottom: 0px;
    margin: 2px;
    text-decoration: solid;
}

.text{
    font-size: 25px;
    text-align: left;
    color: black;
    position: relative;
    bottom: 30px;
    margin: 2px;
}
.lowah{
    font-size: 45px;
    color: black;
    font-style: italic;
    position: relative;
    text-decoration: underline;
}

nav {
    display: flex;
    padding: 20px;
    list-style: none;
    margin-left: 170px;
    margin-right: 170px;
    justify-content: space-evenly;
    background-color: rgb(182, 234, 255);
    border: 4px solid #00aaff;
    font-size: 25px;

}

a:visited{
    color:#00aaff
}
.desc{
    font-size: 30px;
    text-align: center;
    color: black;
    position: relative;
    bottom: 0px;
    margin: 2px;
}
.SecTitle{
    font-size: 100px;
    text-align: center;
    color: black;
    position: relative;
    bottom: 0px;
    margin: 2px;
    text-decoration: solid;
}
.picture{
    position: relative;
    float:none;
    width: 750px;
    bottom:20px;
    height: 421.875px;
}

body{
    background-color: rgb(215, 209, 202);
}

<<<<<<< HEAD
.lowah2{
=======
.lowah{
>>>>>>> 101658a62d8108f2cbaa4cf4761aea2705af8d3b
    text-align: center;
    background-color: rgb(247, 180, 125);
    padding: 0px;
    margin:15px;
<<<<<<< HEAD
    font-size:45px;
    color: black;
    font-style: italic;
    text-decoration: underline;
=======
>>>>>>> 101658a62d8108f2cbaa4cf4761aea2705af8d3b
}

.futuremichael{
    text-align:center;
    margin: 0px;
    padding: 0px;
    line-height: 0;
}

.futuremichael img{
    display: block;
    margin: 0 auto;
}

.ahhtext{
    text-align:center;
    font-size:35px;
    margin: 0px;
    padding: 0px;
}