ul.navbar
  li(class=(page === 'Caleb' ? 'active' : ''))
    a(href='/') Home

  li(class=(page === 'Michael' ? 'active' : ''))

  li(class=(page === 'Gavin' ? 'active' : ''))

    a(href='/michael') Michael
  li(class=(page === 'Garin' ? 'active' : ''))
    a(href='/dihtionary') Dihtionary
