ul.navbar
  li(class=(page === 'home' ? 'active' : ''))
    a(href='/') Home
  li(class=(page === 'Michael' ? 'active' : ''))
    a(href='/michael') Michael
  li(class=(page === 'dihtionary' ? 'active' : ''))
    a(href='/dihtionary') Dihtionary
